button {
  background:green;
}
h1 { color:blue;}
body { background-color: white;} 
Our contacts {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
Our contacts {
  font-size: 20px;
}