button {
    background: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

body { background-color: white;} 

#contactButton {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.top-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.top-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.mobile-menu{
display:none;
}
.menu-button {
    display: none;   
}

.container{
    display:block;
}

main {
    flex: 1;
    padding: 30px;
    background: white;
}

.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
    padding: 10;
}
.dropbtn:hover{
    background:lightblue;
    border-radius:5px;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

form{
    max-width:600px;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    box-sizing:border-box;
}

label{
    font-weight:bold;
}

@media (max-width:768px){

.top-menu{
display:none;
}

.menu-button{
display:block;
margin:auto;
font-size:30px;
background:none;
border:none;
color:white;
cursor:pointer;
}

header h1{
    font-size:22px;
    white-space:nowrap;
    margin:0;
}

.sidebar{
display:none;
}

.mobile-menu {
    width: 100%;
    background:#003366;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
}

.mobile-menu.show {
    display: block !important;
}

.mobile-menu a{
display:block;
padding:10px;
text-decoration:none;
color:white;
}

.mobile-menu h3{
color:white;
}
.mobile-menu a:hover{
    background:#005599;
    border-radius:5px;
}

.mobile-dropdown-btn{
    width:100%;
    background:none;
    border:none;
    color:white;
    font-size:18px;
    padding:12px;
    cursor:pointer;
    text-align:center;
}
.mobile-dropdown-btn:hover{
    background:#005599;
}

.mobile-dropdown-btn:focus{
    background:#005599;
}

.mobile-dropdown-content{
    display:none;
}

.mobile-dropdown-content.show{
    display:block;
}

}
img{
max-width:100%;
height:auto;
}
